html {
  font-family: "Fredoka One", sans-serif;
}

.card {
  border-top: solid 5px #b3fbff;
  border-bottom: solid 5px #b3fbff;
  background-image: repeating-linear-gradient(325deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

img {
  width: 8.5em;
}

.text {
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  animation: text-a .75s 1s ease-in forwards;
  filter: opacity(0);
}

.title {
  transform: rotate(-9deg);
  transform-origin: left center;
  color: #990073;
  position: relative;
  left: -.15em;
}

.body {
  transform: rotate(-5deg);
  position: relative;
  color: #c09;
  transform-origin: left center;
  max-width: 19em;
}

.btn {
  position: relative;
  top: 2.5em;
  left: 2em;
}

.btn-ghost {
  position: relative;
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c09;
}

.icecreem {
  min-height: 480px;
}

.drop {
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
}

.cone {
  animation: cone .25s ease-in forwards;
  z-index: 9;
}

.mint {
  animation: mint .25s .2s ease-in forwards;
  z-index: 1;
}

.chocolate {
  animation: chocolate-f .25s .4s ease-in forwards;
  z-index: 4;
}

.vanilla {
  animation: vanilla .25s .6s ease-in forwards;
  z-index: 7;
}

.cherry {
  animation: cherry .25s .8s ease-in forwards;
  z-index: 10;
}

@keyframes cherry {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 350px;
  }

}

@keyframes vanilla {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 265px;
  }

}

@keyframes chocolate-f {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 190px;
  }

}

@keyframes mint {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 105px;
  }

}

@keyframes cone {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0%;
  }

}

@keyframes text-a {

  0% {
    filter: opacity(0) blur(5px);
  }

  0% {
    filter: blur(0);
  }

  100% {
    filter: opacity(100);
  }

}
